/* Copyright (c) 2017 MIT 6.813/6.831 course staff, all rights reserved.
 * Redistribution of original or derived work requires permission of course staff.
 */

/* REMOVE ME - dashed lines and height for debugging */

body{
  font-family: "Century Gothic", Times, serif;
    background-color: #ffe6f3;
}
#firstColumn{
    align-self: center;
}
#mainColumn{
    align-self: center;
    font-weight: bold;
    height: 320px;
    width: 320px;
}
#lastColumn{
    align-self: center;
}
#firstColumn h1{
  align-self: center;
  font-weight: bolder;
  color: crimson;
  text-align: center;
}
#newgame{
    margin-left: 33.3333%;
    margin-right: 33.3333%;
}
#txtinput{
    font-size: x-large;
    color: crimson;
    font-weight: bold;
}
#move{
    font-size: xx-large;
    text-align: center;
    color: crimson;
}

#crush{
    max-width: 100%;
    width: 100%;
    background-color: midnightblue;
}
.btn
{
    background-color: crimson;
    color: floralwhite;
}
.foralign{
    margin-left: 33.3333%;
    margin-right: 33.3333%;
}

/* Your css code here! */